.timeline {
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.timelineContent {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100%;
  transition: transform 0.1s ease-out;
  display: flex;
  flex-direction: column;
}

.timelineTrack {
  position: relative;
  height: 70px;
  min-height: 70px;
  border-bottom: 1px solid #3a3a3a;
  background-color: #2a2a2a;
}

.measureDivider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #3a3a3a;
  pointer-events: none;
  z-index: 1;
}
