.levelMeter {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1px 0;
  min-height: 60px;
}

.meterBars {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: flex-end;
}

.meterBar {
  width: 100%;
  background-color: #333333;
  transition: background-color 0.05s ease-out;
  border-radius: 1px;
}

.meterBarActive {
  background-color: #44ff44;
}
